## Deliverable 2

In [19]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [20]:
# Read in the vine_table.csv file as a DataFrame
vine_table_df = pd.read_csv(Path('/Users/Fabiola/Desktop/Data/week16BigData/vine_table.csv', low_memory = False))
vine_table_df.head()

/Users/Fabiola/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5.0,0.0,0.0,N,N
1,R32M0YEWV77XG8,5.0,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1.0,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5.0,0.0,0.0,N,Y
4,R16PD71086BD2V,5.0,0.0,1.0,N,N

In [22]:
vine_table_df["review_id"].count()

4850360

In [3]:
# 1. Retrieve all the rows where the total_votes count is equal to 
# or greater than 20
total_votes = vine_table_df[vine_table_df["total_votes"]>=20] 
total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
279,R1ZS2QYCM8NUAA,5.0,20.0,22.0,N,Y
312,R345UZQUQHEHSB,5.0,20.0,20.0,N,N
330,R34XYCBWWGMBC2,5.0,20.0,21.0,N,Y
1120,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1612,REKURTWERLPRI,1.0,32.0,33.0,N,N

In [4]:
# 2. Retrieve all the rows where the number of helpful_votes 
# divided by total_votes is equal to or greater
# than 50%.
total_votes_percentage = total_votes.loc[(total_votes["helpful_votes"]) / 
                                         (total_votes["total_votes"]) >= 0.5]
total_votes_percentage.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
279,R1ZS2QYCM8NUAA,5.0,20.0,22.0,N,Y
312,R345UZQUQHEHSB,5.0,20.0,20.0,N,N
330,R34XYCBWWGMBC2,5.0,20.0,21.0,N,Y
1120,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1612,REKURTWERLPRI,1.0,32.0,33.0,N,N

In [28]:
total_votes_percentage.shape[0]

61948

In [5]:
# 3. Create a new DataFrame or table that retrieves all the rows where a review was
# written as part of the 
# Vine program (paid), vine == 'Y'.
total_votes_paid_y = total_votes_percentage[total_votes_percentage["vine"] =='Y'] 
total_votes_paid_y.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
10553,R32OMS1LSDRCOB,4.0,27.0,31.0,Y,N
49186,R2IPKK4I0XRCFR,4.0,16.0,21.0,Y,N
109249,R1OGJY9TSNXXX3,5.0,19.0,22.0,Y,N
117965,RXYYJ8SGI9IX6,5.0,36.0,41.0,Y,N
127555,R1SAUBFC7T6JHC,5.0,73.0,75.0,Y,N

In [24]:
total_votes_paid_y["review_id"].count()

334

In [9]:
# 4. Create a new DataFrame or table that retrieves all the rows where a review was
# written as part of the 
# Vine program (paid), vine == 'N'.
total_votes_paid_n = total_votes_percentage[total_votes_percentage["vine"] =='N'] 
total_votes_paid_n.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
279,R1ZS2QYCM8NUAA,5.0,20.0,22.0,N,Y
312,R345UZQUQHEHSB,5.0,20.0,20.0,N,N
330,R34XYCBWWGMBC2,5.0,20.0,21.0,N,Y
1120,R28BVHOEL6GCHZ,5.0,21.0,21.0,N,Y
1612,REKURTWERLPRI,1.0,32.0,33.0,N,N

In [27]:
total_votes_paid_n.shape[0]

61614

In [12]:
# 5.Total number of reviews 
#df_total_number_reviews = total_votes_percentage[total_votes_percentage["vine"] == 'Y']
df_total_number_reviews = vine_table_df["review_id"].count()

#total_number_reviews = df_total_number_reviews.shape[0]
#total_number_reviews = total_number_reviews_Y + total_number_reviews_N
print(df_total_number_reviews, type(df_total_number_reviews))

4850360 <class 'numpy.int64'>

In [13]:
# 5.Number of five stars reviews
df_five_stars = vine_table_df[vine_table_df["star_rating"] == 5.0]
reviews_five_stars = df_five_stars.shape[0]
print(reviews_five_stars, type(reviews_five_stars))

2961223 <class 'int'>

In [14]:
# 5. Number of five stars reviews where verified_purchase = Y
five_stars_paid = df_five_stars[df_five_stars["verified_purchase"] == "Y"]
#five_stars_paid.shape[0]
five_stars_paid_value = five_stars_paid.shape[0]
print(five_stars_paid_value, type(five_stars_paid_value))

2637198 <class 'int'>

In [15]:
# 5. Number of five stars reviews where verified_purchase = N
five_stars_unpaid = df_five_stars[df_five_stars["verified_purchase"] == "N"]
five_stars_unpaid_value = five_stars_unpaid.shape[0]
print(five_stars_unpaid_value, type(five_stars_unpaid_value))

324025 <class 'int'>

In [31]:
# Percentage of 5 star reviews
perc_five_stars = (reviews_five_stars * 100)/df_total_number_reviews
round(perc_five_stars,2)

61.05

In [32]:
# 5. Percentage of 5-star reviews for the two types of review (paid vs unpaid).
percent_five_stars_paid = float((five_stars_paid_value * 100)/reviews_five_stars)
round(percent_five_stars_paid,2)

89.06

In [33]:
# 5. percentage of 5-star reviews for the two types of review (paid vs unpaid).
percent_five_stars_unpaid = (five_stars_unpaid_value * 100)/reviews_five_stars
round(percent_five_stars_unpaid,2)

10.94

## End

In [34]:
round(percent_five_stars_paid,2)+round(percent_five_stars_unpaid,2)

100.0